$colors:("headbg":#ddd, 
"btclr": #ce1212,
"hvrclr":white,
"prcclr":#ce1212,
"thirdbt":rgba(255, 255, 255, 0.3),
"fntclr":#7f7f90,
"icclr":rgba(206, 18, 18, 0.1),
"clr": #000, 
"heroclr": #eee, 

);

$fonts:("size":13px,
"weight":400,
"scndsize":48px,
"headersize":64px,
"headerwght":700,
"fmily":'Poor Story'

);

$width:("large": 150px, "medium": 130px, );


$bxlft:("fst":-40px, "scnd":-60px, "thrd":-50px,);

$ptaglft:("scnd":-20px, "thrd":30px, "frth":200px, "fifth":210px);

$mnuimglft:("fst":110px, "scnd":150px, "third":205px,);
$mnuh4:("fst":-10px ,"scnd":17%, "third":16%,);
$mnuprc:("fst":65%, "scnd":73%, "trd":76%, );
$bxx4lft:("fst":140px,)